/.idea
.streamlit
__init__.py
usual.txt
myenv
git-filter-repo
/anaconda_projects
/.ipynb_checkpoints
.virtual_documents/see_data.ipynb
/data
preprocess/analize_data_pandas.py
preprocess/analize_data_polars.py
preprocess/info
/reutilizabile/__pycache__
reutilizabile/__init__.py
*.csv
/reutilizabile/.ipynb_checkpoints
venv/
env/
.myenv/
*.csv
*.parquet
*.xls
*.xlsx
.env
!.env.template
*.ipynb~
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
