altair==5.5.0
azure-core==1.35.0
azure-storage-blob==12.26.0
blinker==1.9.0
cachetools==5.5.1
certifi>=2024.2.2
cffi>=1.17.1
charset-normalizer>=3.3.2
click==8.1.8
cryptography>=42.0.5
cycler==0.11.0
fonttools==4.55.3
gitdb==4.0.7
gitpython==3.1.43
idna==3.7
isodate==0.7.2
jinja2==3.1.6
joblib==1.4.2
jsonschema>=4.23.0
kiwisolver==1.4.8
markupsafe>=2.1.5
matplotlib==3.10.0
numpy==1.26.4
packaging==24.2
pandas==2.2.2
pillow==11.3.0
protobuf==5.29.5
pyarrow==15.0.2
pycparser==2.21
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2024.1
pyyaml==6.0.2
requests==2.32.4
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
smmap==4.0.0
streamlit==1.47.0
tenacity==9.0.0
threadpoolctl==3.5.0
tornado==6.5.1
typing-extensions==4.12.2
urllib3==2.5.0
watchdog==4.0.2
wheel==0.42.0